/*

DOCUMENT INFORMATION
	- Document: http://worldheritageapp.com/
	- Version:  0.1
	- Author:   R.Gough


Edit SCSS/Compass file.

CONTENTS:

Global
Primary
Sections

*/
/** GLOBAL **/
@import url(http://fonts.googleapis.com/css?family=Yeseva+One);
/* line 24, ../scss/main.scss */
body {
  background-color: #111111;
  color: white;
}

/* Template-specific stuff
 *
 * Customizations just for the template; these are not necessary for anything
 * with disabling the responsiveness.
 */
/* Account for fixed navbar */
/* line 50, ../scss/main.scss */
body {
  min-width: 1200px;
  font-family: "Times New Roman", Times, serif;
  font-weight: normal;
}

/* Non-responsive overrides
 *
 * Utilitze the following CSS to disable the responsive-ness of the container,
 * grid system, and navbar. for wh, we need a viewport to be set.
 */
/* Reset the container */
/* line 63, ../scss/main.scss */
.container {
  width: 1200px;
}

/* line 67, ../scss/main.scss */
* {
  font-family: "Times New Roman", Times, serif;
  font-weight: 400;
  color: #d8d8d8;
}
/* line 53, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/css3/_selection.scss */
*::-moz-selection {
  color: #fff;
  background-color: #a20202;
}
/* line 53, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/css3/_selection.scss */
*::selection {
  color: #fff;
  background-color: #a20202;
}

/* line 74, ../scss/main.scss */
section {
  overflow: hidden;
}

/* line 81, ../scss/main.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "Yeseva One", cursive;
  font-weight: normal;
  color: white;
  text-transform: uppercase;
}

/* line 88, ../scss/main.scss */
h1 {
  font-size: 48px;
  text-shadow: 1px 5px 10px #030303;
}

/* line 95, ../scss/main.scss */
h2 {
  padding-bottom: 10px;
}

/* line 99, ../scss/main.scss */
p {
  color: #d8d8d8;
  font-family: "Times New Roman", Times, serif;
  font-size: 18px;
}

/** PRIMARY **/
/* line 108, ../scss/main.scss */
.row-header {
  margin-bottom: 70px;
}

/* line 112, ../scss/main.scss */
.fancybox-skin {
  position: relative;
  background: none repeat scroll 0% 0% #000;
  color: #444;
  text-shadow: none;
  border-radius: 0px;
}

/* line 120, ../scss/main.scss */
.fadeInBlock {
  opacity: 0;
}

/* line 129, ../scss/main.scss */
.glow {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  opacity: 0.9;
}
/* line 131, ../scss/main.scss */
.glow:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}

/* line 136, ../scss/main.scss */
.nudge-up {
  -moz-transition: -moz-transform 0.2s ease-in-out;
  -o-transition: -o-transform 0.2s ease-in-out;
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
}
/* line 138, ../scss/main.scss */
.nudge-up:hover {
  -moz-animation: 0;
  -webkit-animation: 0;
  animation: 0;
  -moz-transform: translate(0px, -25px);
  -ms-transform: translate(0px, -25px);
  -webkit-transform: translate(0px, -25px);
  transform: translate(0px, -25px);
}

/* line 144, ../scss/main.scss */
.clear-animation {
  -moz-animation: 0;
  -webkit-animation: 0;
  animation: 0;
}
/* line 146, ../scss/main.scss */
.clear-animation:hover {
  -moz-animation: 0;
  -webkit-animation: 0;
  animation: 0;
}

/* line 104, icon/*.png */
.icon-sprite, .icon-AppIkon, .icon-Appstore, .icon-KNAP-HentApp, .icon-KNAP-Play, .icon-redbar {
  background-image: url('../img/icon-s7337b050f3.png');
  background-repeat: no-repeat;
}

/* line 84, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.icon-AppIkon {
  background-position: 0 0;
  height: 150px;
  width: 150px;
}
/* line 59, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.icon-AppIkon:hover, .icon-AppIkon.AppIkon-hover {
  background-position: 0 -175px;
}

/* line 84, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.icon-Appstore {
  background-position: 0 -350px;
  height: 62px;
  width: 210px;
}

/* line 84, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.icon-KNAP-HentApp {
  background-position: 0 -437px;
  height: 69px;
  width: 308px;
}
/* line 59, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.icon-KNAP-HentApp:hover, .icon-KNAP-HentApp.KNAP-HentApp-hover {
  background-position: 0 -531px;
}

/* line 84, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.icon-KNAP-Play {
  background-position: 0 -625px;
  height: 100px;
  width: 100px;
}
/* line 59, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.icon-KNAP-Play:hover, .icon-KNAP-Play.KNAP-Play-hover {
  background-position: 0 -750px;
}

/* line 84, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.icon-redbar {
  background-position: 0 -875px;
  height: 12px;
  width: 120px;
}

/* line 159, ../scss/main.scss */
section > .container {
  width: 1200px !important;
  -moz-box-shadow: -1px 8px 8px -8px #000 inset, 0px -8px 8px -8px #000 inset, 0px 9px 0px 0px #000, 12px 0px 18px -9px rgba(0, 0, 0, 0.8), -12px 0px 15px -8px #000, inset 20px 0 50px -5px rgba(0, 0, 0, 0.48), inset -20px 0 50px -5px rgba(0, 0, 0, 0.48);
  -webkit-box-shadow: -1px 8px 8px -8px #000 inset, 0px -8px 8px -8px #000 inset, 0px 9px 0px 0px #000, 12px 0px 18px -9px rgba(0, 0, 0, 0.8), -12px 0px 15px -8px #000, inset 20px 0 50px -5px rgba(0, 0, 0, 0.48), inset -20px 0 50px -5px rgba(0, 0, 0, 0.48);
  box-shadow: -1px 8px 8px -8px #000 inset, 0px -8px 8px -8px #000 inset, 0px 9px 0px 0px #000, 12px 0px 18px -9px rgba(0, 0, 0, 0.8), -12px 0px 15px -8px #000, inset 20px 0 50px -5px rgba(0, 0, 0, 0.48), inset -20px 0 50px -5px rgba(0, 0, 0, 0.48);
}

/* line 165, ../scss/main.scss */
img.divider {
  width: 60px;
  margin-top: 50px;
}

/** Parallax Setup **/
/* line 171, ../scss/main.scss */
.scene,
.layer {
  display: block;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

/* line 180, ../scss/main.scss */
.scene {
  position: relative;
  overflow: hidden;
  z-index: -10;
}

/* line 187, ../scss/main.scss */
span.rollover {
  opacity: 1;
  -o-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -webkit-transition: -webkit-transform 1s;
  background: url(../img/mag.png) center center no-repeat #000;
  cursor: pointer;
  height: 346px;
  width: 347px;
  position: absolute;
  z-index: 10;
  opacity: 0;
}
/* line 201, ../scss/main.scss */
span.rollover:hover {
  opacity: .7;
  -o-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -webkit-transition: -webkit-transform 1s;
  -webkit-box-shadow: 0px 0px 4px #000;
  -moz-box-shadow: 0px 0px 4px #000;
  box-shadow: 0px 0px 4px #000;
}

/** SECTION 1 **/
/* line 217, ../scss/main.scss */
section#section-1 > .container {
  /* background properties */
  background: url("../img/BG-Section-1.jpg") no-repeat;
  background-size: cover;
  background-position: 100% 100%;
  height: 797px;
}

/* line 226, ../scss/main.scss */
.section-1-header {
  height: 680px;
}

/* line 230, ../scss/main.scss */
.section-1-appicon {
  position: absolute;
  top: -75px;
  float: left;
  left: 40px;
}

/* line 237, ../scss/main.scss */
.icon-Appstore {
  position: relative;
  margin: 0 auto;
  top: 30px;
  left: 50px;
}

/* line 244, ../scss/main.scss */
img.section-1-sponsor {
  width: 370px;
  position: relative;
  margin: 0px auto;
  top: 15px;
}

/* line 251, ../scss/main.scss */
.section-1-mainlogo {
  margin-top: 25px;
}

/** SECTION 2 **/
/* line 257, ../scss/main.scss */
section#section-2 > .container {
  /* background properties */
  background: url("../img/BG-Section-2.jpg") no-repeat;
  background-size: cover;
  background-position: 100% 100%;
}

/* line 265, ../scss/main.scss */
section#section-2 > .container > .container {
  margin-bottom: 60px;
}

/* line 269, ../scss/main.scss */
iframe {
  width: 700px;
  height: 394px;
}

/* line 274, ../scss/main.scss */
.embed-container {
  width: 700px;
  height: 394px;
  margin: 100px auto 0px;
  background-color: #303030;
}

/* line 281, ../scss/main.scss */
.vimeoplayer {
  cursor: pointer;
}

/* line 285, ../scss/main.scss */
.section-2-site {
  width: 300px;
  padding-bottom: 20px;
}

/* line 291, ../scss/main.scss */
.section-2-play {
  position: absolute;
  float: left;
  left: 550px;
  top: 230px;
}

/** SECTION 3 **/
/* line 317, ../scss/main.scss */
.section-3-scene {
  min-height: 1641px;
}

/* line 322, ../scss/main.scss */
#section-3, section#section-3 > .container {
  height: 1641px;
  overflow: hidden;
}

/* line 327, ../scss/main.scss */
#scene-section3 {
  position: absolute;
  float: left;
  left: 0px;
  padding: 0px;
  margin: 0px;
}

/* line 336, ../scss/main.scss */
.section-3-background {
  position: relative;
  /* overscan settings */
  height: 120%;
  width: 120%;
  left: -10%;
  top: -5%;
  /* backgorund properties */
  background: url("../img/BG-Section-3.jpg") no-repeat;
  background-size: cover;
  background-position: 100% 100%;
}

/* line 354, ../scss/main.scss */
section#section-3 > .container > .container {
  margin-bottom: 60px;
}

/* line 358, ../scss/main.scss */
.section-3-ipad-levels {
  height: 430px;
}

/* line 363, ../scss/main.scss */
.section-3-tagline {
  position: absolute;
  width: 470px;
  top: 290px;
}

/* line 369, ../scss/main.scss */
.section-3-tagline > p {
  float: left;
  width: 312px;
  font-size: 14px;
  padding-left: 70px;
}

/* line 377, ../scss/main.scss */
.section-3-tagline > img {
  float: right;
  width: 50px;
}

/* line 382, ../scss/main.scss */
img.section-3 {
  margin-top: 20px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  opacity: 0.9;
}
/* line 386, ../scss/main.scss */
img.section-3:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}

/* line 392, ../scss/main.scss */
img.section-3-ipad {
  width: 510px;
}

/* line 396, ../scss/main.scss */
.ibeacon {
  position: relative;
  height: 500px;
  top: -205px;
  float: right;
  right: 65px;
}

/* line 405, ../scss/main.scss */
.section-3-hotspot {
  top: 90px;
}

/* line 409, ../scss/main.scss */
svg#broadcast {
  position: relative;
  float: right;
  width: 100px;
  height: 110px;
  right: 60px;
  top: 40px;
  -moz-transform: rotate(-15deg);
  -ms-transform: rotate(-15deg);
  -webkit-transform: rotate(-15deg);
  transform: rotate(-15deg);
}

@-moz-keyframes hideshow {
  0% {
    opacity: 1;
  }
  10% {
    opacity: 1;
  }
  35% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes hideshow {
  0% {
    opacity: 1;
  }
  10% {
    opacity: 1;
  }
  35% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes hideshow {
  0% {
    opacity: 1;
  }
  10% {
    opacity: 1;
  }
  35% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/* line 435, ../scss/main.scss */
.line {
  -moz-animation-name: hideshow;
  -webkit-animation-name: hideshow;
  animation-name: hideshow;
  -moz-animation-duration: 2s;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
/* line 440, ../scss/main.scss */
.line:nth-child(1) {
  -moz-animation-delay: 0.4s;
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
/* line 443, ../scss/main.scss */
.line:nth-child(2) {
  -moz-animation-delay: 0.5s;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}
/* line 446, ../scss/main.scss */
.line:nth-child(3) {
  -moz-animation-delay: 0.6s;
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

/** SECTION 4 **/
/* line 453, ../scss/main.scss */
#section-4 > .container {
  padding-top: 50px;
  padding-bottom: 50px;
}

/* line 458, ../scss/main.scss */
.section-4-ipadright {
  width: 270px;
  margin-top: 48px;
  margin-bottom: 6px;
}

/* line 464, ../scss/main.scss */
#section-4-ibeacon-svg {
  width: 330px;
  height: 177px;
  margin-top: 45px;
  margin-bottom: 25px;
  position: relative;
  float: left;
  left: -10px;
}

/* line 474, ../scss/main.scss */
.section-4-ibeacon {
  position: absolute;
  float: left;
  left: 7px;
  width: 60px;
  top: 5px;
}

/* line 482, ../scss/main.scss */
.section-4-chevron {
  position: relative;
  top: 120px;
}

/* line 487, ../scss/main.scss */
.wave {
  -moz-animation-name: hideshow;
  -webkit-animation-name: hideshow;
  animation-name: hideshow;
  -moz-animation-duration: 3s;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
/* line 492, ../scss/main.scss */
.wave:nth-child(3) {
  -moz-animation-delay: 0.2s;
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
/* line 495, ../scss/main.scss */
.wave:nth-child(2) {
  -moz-animation-delay: 0.3s;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
/* line 498, ../scss/main.scss */
.wave:nth-child(1) {
  -moz-animation-delay: 0.4s;
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

@-moz-keyframes ipadactivate {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes ipadactivate {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes ipadactivate {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/* line 515, ../scss/main.scss */
.ipad-on {
  -moz-animation-name: ipadactivate;
  -webkit-animation-name: ipadactivate;
  animation-name: ipadactivate;
  -moz-animation-duration: 3s;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -moz-animation-direction: reverse;
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
  -moz-animation-delay: 0.3s;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

/* line 523, ../scss/main.scss */
.ipad-off {
  -moz-animation-name: ipadactivate;
  -webkit-animation-name: ipadactivate;
  animation-name: ipadactivate;
  -moz-animation-duration: 3s;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -moz-animation-delay: 0.3s;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

/** SECTION 6 **/
/* line 535, ../scss/main.scss */
.section-6-scene {
  min-height: 762px;
}

/* line 539, ../scss/main.scss */
#section-6, .section-6, #section-6 > .container {
  height: 762px;
  overflow: hidden;
}

/* line 544, ../scss/main.scss */
#scene-section6 {
  position: absolute;
  float: left;
  left: 0px;
  padding: 0px;
  margin: 0px;
}

/* line 553, ../scss/main.scss */
.section-6-background {
  position: relative;
  /* overscan settings */
  height: 110%;
  width: 120%;
  left: -5%;
  top: -5%;
  /* backgorund properties */
  background: url("../img/BG-Section-6.jpg") no-repeat;
  background-size: cover;
  background-position: 50% 100%;
}

/* line 569, ../scss/main.scss */
.section-6-left {
  padding-top: 150px;
}

/* line 573, ../scss/main.scss */
.tagline > p {
  text-transform: uppercase;
  font-size: 15px;
  font-family: "Times New Roman", Times, serif;
}

/* line 579, ../scss/main.scss */
.section-6-man {
  position: absolute;
  height: 700px;
  float: right;
  right: 260px;
  bottom: -15%;
}

/* line 587, ../scss/main.scss */
.section-6-ipad-left {
  background: url("../img/IPAD-Template-Front.png") no-repeat;
  background-size: contain;
  margin-bottom: 20px;
  width: 300px;
}

/* line 594, ../scss/main.scss */
.section-6-ipad-right {
  position: absolute;
  width: 490px;
  float: right;
  right: 150px;
  bottom: 47px;
}

/* line 602, ../scss/main.scss */
.section-6-ipad-play {
  position: relative;
  top: 155px;
  left: 235px;
  z-index: 100;
}

/** SECTION 7 **/
/* line 612, ../scss/main.scss */
section#section-7 > .container {
  /* background properties, reuse section 9 */
  background: url("../img/BG-Section-9.jpg") no-repeat;
  background-size: cover;
  background-position: 100% 100%;
  height: 900px;
}

/* line 621, ../scss/main.scss */
.section-7-panorama {
  margin-top: 50px;
  background: url("../img/PIC-Panorama.png") no-repeat;
  background-size: contain;
  margin-bottom: 20px;
  width: 1200px;
  height: 450px;
}

/* line 631, ../scss/main.scss */
video#video-360 {
  position: absolute;
  z-index: 100;
  height: 330px;
  top: 85px;
  left: 395px;
  width: 440px;
}
/* line 639, ../scss/main.scss */
video#video-360:hover {
  cursor: pointer;
}

/* line 644, ../scss/main.scss */
.section-7-ipad {
  position: absolute;
  top: 62px;
  left: 350px;
  height: 375px;
}

/** SECTION 8 **/
/* line 653, ../scss/main.scss */
section#section-8 > .container {
  background-color: #181818;
}

/* line 657, ../scss/main.scss */
.section8-text {
  margin-bottom: 50px;
}

/* line 661, ../scss/main.scss */
.section8-text > p {
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

/** SECTION 9 **/
/* line 670, ../scss/main.scss */
section#section-9 > .container {
  /* background properties */
  background: url("../img/BG-Section-9.jpg") no-repeat;
  background-size: cover;
  background-position: 100% 100%;
  height: 640px;
}

/* line 678, ../scss/main.scss */
img.section-9-behindscene {
  width: 300px;
  margin-top: 50px;
}

/* line 683, ../scss/main.scss */
img.section-9-sponsor {
  top: 50px;
  position: relative;
}

/* line 689, ../scss/main.scss */
section#section-9 > .container:nth-of-type(2) {
  /* background properties */
  background: url("../img/BG-Section-9a.jpg") no-repeat;
  background-size: cover;
  background-position: 100% 100%;
  height: 250px;
}

/* line 697, ../scss/main.scss */
.section-9-play {
  position: absolute;
  top: 90px;
  left: 150px;
}

/* line 703, ../scss/main.scss */
.section-9-hentapp {
  position: relative;
  top: -35px;
  margin: 0 auto;
  cursor: pointer;
}
