/*

DOCUMENT INFORMATION
	- Document: http://worldheritageapp.com/
	- Version:  0.1
	- Author:   R.Gough


Edit SCSS/Compass file.

CONTENTS:

Global
Primary
Sections

*/
@import "compass";
@import "compass/utilities/sprites";
@import "compass/css3/selection";

/** GLOBAL **/

body {
  background-color: #111111;
  color: white;
}

// Colours
$wh-whiteblue: #d8d8d8;
$wh-red: #a20202;
$shadow: #0C0C0C;

// Fonts
@import url(http://fonts.googleapis.com/css?family=Yeseva+One);

// Font Variables
$times-font: "Times New Roman", Times, serif;
$wh-font: "Yeseva One", cursive;

// Styles

/* Template-specific stuff
 *
 * Customizations just for the template; these are not necessary for anything
 * with disabling the responsiveness.
 */

/* Account for fixed navbar */
body {
  min-width: 1200px;
  font-family: $times-font;
  font-weight: normal;
}

/* Non-responsive overrides
 *
 * Utilitze the following CSS to disable the responsive-ness of the container,
 * grid system, and navbar. for wh, we need a viewport to be set.
 */

/* Reset the container */
.container {
  width: 1200px;
}

* {
  font-family: $times-font;
  font-weight: 400;
  color: $wh-whiteblue;
  @include selection($wh-red, #fff);
}

section {
  //padding-top: 50px;
  overflow: hidden;
  //@include box-shadow(0px 30px 10px $shadow inset);

}

h1, h2, h3, h4, h5, h6 {
  font-family: $wh-font;
  font-weight: normal;
  color: lighten($wh-whiteblue, 50%);
  text-transform: uppercase;
}

h1 {
  font-size: 48px;
  //text-shadow: 0px 0px 10px #322B2B;
  text-shadow: 1px 5px 10px #030303;

}

h2 {
  padding-bottom: 10px;
}

p {
  color: $wh-whiteblue;
  font-family: $times-font;
  font-size: 18px;
}

/** PRIMARY **/

// headers used for each section
.row-header {
  margin-bottom: 70px;
}

.fancybox-skin {
  position: relative;
  background: none repeat scroll 0% 0% #000;
  color: #444;
  text-shadow: none;
  border-radius: 0px;
}

.fadeInBlock {
  opacity: 0;
}

.row {
  //padding-top: 30px;
}

// add a glow to the images selected
.glow {
  @include opacity(0.9);
  &:hover {
    @include opacity(1);
  }
}

.nudge-up {
  @include transition(transform .2s ease-in-out);
  &:hover {
    @include animation(0);
    @include transform(translate(0px, -25px));
  }
}

.clear-animation {
  @include animation(0);
  &:hover {
    @include animation(0);
  }
}


$icon-sprite-dimensions: true;
$icon-spacing: 25px;

@import "icon/*.png";
@include all-icon-sprites;


section > .container {
  width: 1200px !important;
//  @include box-shadow(0px 8px 8px -8px #000 inset, 0px -8px 8px -8px #000 inset, 0px 9px 0px 0px #000, 12px 0px 18px -9px rgba(0, 0, 0, 0.8), -12px 0px 15px -8px #000);
  @include box-shadow(-1px 8px 8px -8px #000 inset, 0px -8px 8px -8px #000 inset, 0px 9px 0px 0px #000, 12px 0px 18px -9px rgba(0, 0, 0, 0.8), -12px 0px 15px -8px #000, inset 20px 0 50px -5px rgba(0, 0, 0, 0.48), inset -20px 0 50px -5px rgba(0, 0, 0, 0.48));
}

img.divider {
  width: 60px;
  margin-top: 50px;
}

/** Parallax Setup **/
.scene,
.layer {
  display: block;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

.scene {
  position: relative;
  overflow: hidden;
  z-index: -10;
}


span.rollover {
  opacity: 1;
  -o-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -webkit-transition: -webkit-transform 1s;
  background: url(../img/mag.png) center center no-repeat #000;
  cursor: pointer;
  height: 346px;
  width: 347px;
  position: absolute;
  z-index: 10;
  opacity: 0;


  &:hover {
    opacity: .7;
    -o-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -webkit-transition: -webkit-transform 1s;
    -webkit-box-shadow: 0px 0px 4px #000;
    -moz-box-shadow: 0px 0px 4px #000;
    box-shadow: 0px 0px 4px #000;
  }
}




/** SECTION 1 **/

section#section-1 > .container {
  /* background properties */
  background: url("../img/BG-Section-1.jpg") no-repeat;
  background-size: cover;
  background-position: 100% 100%;
  height: 797px;
}


.section-1-header {
  height: 680px;
}

.section-1-appicon {
  position: absolute;
  top: -75px;
  float: left;
  left: 40px;
}

.icon-Appstore {
  position: relative;
  margin: 0 auto;
  top: 30px;
  left: 50px;
}

img.section-1-sponsor {
  width: 370px;
  position: relative;
  margin: 0px auto;
  top: 15px;
}

.section-1-mainlogo {
  margin-top: 25px;
}

/** SECTION 2 **/

section#section-2 > .container {
  /* background properties */
  background: url("../img/BG-Section-2.jpg") no-repeat;
  background-size: cover;
  background-position: 100% 100%;
}

//seperate two containers in one..
section#section-2 > .container > .container {
  margin-bottom: 60px;
}

iframe {
  width: 700px;
  height: 394px;
}

.embed-container {
  width: 700px;
  height: 394px;
  margin: 100px auto 0px;
  background-color: #303030;
}

.vimeoplayer {
  cursor: pointer;
}

.section-2-site {
  width: 300px;
  padding-bottom: 20px;

}

.section-2-play {
  position: absolute;
  float: left;
  left: 550px;
  top: 230px;
}

/** SECTION 3 **/

//section#section-3 > .container {
//  /* background properties */
//  background: url("../img/BG-Section-3.jpg") no-repeat;
//  background-size: cover;
//  background-position: 100% 100%;
//}
//
//
//.section-3-background {
//  /* background properties */
//  background: url("../img/BG-Section-3.jpg") no-repeat;
//  background-size: cover;
//  background-position: 100% 100%;
//}

$section-3-height: 1641px;

.section-3-scene {
  min-height: $section-3-height;
}


#section-3, section#section-3 > .container {
  height: $section-3-height;
  overflow: hidden;
}

#scene-section3 {
  position: absolute;
  float: left;
  left: 0px;
  padding: 0px;
  margin: 0px;
  //top: -50px;
}

.section-3-background {
  position: relative;

  /* overscan settings */
  height: 120%;
  width: 120%;
  left: -10%;
  top: -5%;

  /* backgorund properties */
  background: url("../img/BG-Section-3.jpg") no-repeat;
  background-size: cover;
  background-position: 100% 100%;

}


//seperate two containers in one..
section#section-3 > .container > .container {
  margin-bottom: 60px;
}

.section-3-ipad-levels {
  height: 430px;
}

//iBeacon stuff
.section-3-tagline {
  position: absolute;
  width: 470px;
  top: 290px;
}

.section-3-tagline > p {
  float: left;
  width: 312px;
  font-size: 14px;
  padding-left: 70px;

}

.section-3-tagline > img {
  float: right;
  width: 50px;
}

img.section-3 {
  margin-top: 20px;
  @include opacity(0.9);
  //  @include box-shadow(3px 3px 8px $shadow);
  &:hover {
    @include opacity(1);
  }
}


img.section-3-ipad {
  width: 510px;
}

.ibeacon {
  position: relative;
  height: 500px;
  top: -205px;
  float: right;
  right: 65px;
}

//hot spot area
.section-3-hotspot {
  top: 90px;
}

svg#broadcast {
  position: relative;
  float: right;
  width: 100px;
  height: 110px;
  right: 60px;
  top: 40px;
  @include transform(rotate(-15deg));
  //@include simple-transform(1,-25);
}

@include keyframes(hideshow) {
  0% {
    @include opacity(1);
  }
  10% {
    @include opacity(1);
  }
  35% {
    @include opacity(1);
  }
  100% {
    @include opacity(0);
  }
}

.line {
  @include animation-name(hideshow);
  @include animation-duration(2s);
  @include animation-iteration-count(infinite);

  &:nth-child(1) {
    @include animation-delay(0.4s);
  }
  &:nth-child(2) {
    @include animation-delay(0.5s);
  }
  &:nth-child(3) {
    @include animation-delay(0.6s);
  }

}

/** SECTION 4 **/
#section-4 > .container {
  padding-top: 50px;
  padding-bottom: 50px;
}

.section-4-ipadright {
  width: 270px;
  margin-top: 48px;
  margin-bottom: 6px;
}

#section-4-ibeacon-svg {
  width: 330px;
  height: 177px;
  margin-top: 45px;
  margin-bottom: 25px;
  position: relative;
  float: left;
  left: -10px;
}

.section-4-ibeacon {
  position: absolute;
  float: left;
  left: 7px;
  width: 60px;
  top: 5px;
}

.section-4-chevron {
  position: relative;
  top: 120px;
}

.wave {
  @include animation-name(hideshow);
  @include animation-duration(3s);
  @include animation-iteration-count(infinite);

  &:nth-child(3) {
    @include animation-delay(0.2s);
  }
  &:nth-child(2) {
    @include animation-delay(0.3s);
  }
  &:nth-child(1) {
    @include animation-delay(0.4s);
  }
}

@include keyframes(ipadactivate) {
  0% {
    @include opacity(0);
  }
  25% {
    @include opacity(1);
  }
  100% {
    @include opacity(0);
  }
}

.ipad-on {
  @include animation-name(ipadactivate);
  @include animation-duration(3s);
  @include animation-iteration-count(infinite);
  @include animation-direction(reverse);
  @include animation-delay(0.3s);
}

.ipad-off {
  @include animation-name(ipadactivate);
  @include animation-duration(3s);
  @include animation-iteration-count(infinite);
  @include animation-delay(0.3s);
}


/** SECTION 6 **/

$section-6-height: 762px;

.section-6-scene {
  min-height: $section-6-height;
}

#section-6, .section-6, #section-6 > .container {
  height: $section-6-height;
  overflow: hidden;
}

#scene-section6 {
  position: absolute;
  float: left;
  left: 0px;
  padding: 0px;
  margin: 0px;
  //top: -50px;
}

.section-6-background {
  position: relative;

  /* overscan settings */
  height: 110%;
  width: 120%;
  left: -5%;
  top: -5%;

  /* backgorund properties */
  background: url("../img/BG-Section-6.jpg") no-repeat;
  background-size: cover;
  background-position: 50% 100%;

}

.section-6-left {
  padding-top: 150px;
}

.tagline > p {
  text-transform: uppercase;
  font-size: 15px;
  font-family: $times-font;
}

.section-6-man {
  position: absolute;
  height: 700px;
  float: right;
  right: 260px;
  bottom: -15%;
}

.section-6-ipad-left {
  background: url("../img/IPAD-Template-Front.png") no-repeat;
  background-size: contain;
  margin-bottom: 20px;
  width: 300px;
}

.section-6-ipad-right {
  position: absolute;
  width: 490px;
  float: right;
  right: 150px;
  bottom: 47px;
}

.section-6-ipad-play {
  position: relative;
  top: 155px;
  left: 235px;
  z-index: 100;
}

/** SECTION 7 **/


section#section-7 > .container {
  /* background properties, reuse section 9 */
  background: url("../img/BG-Section-9.jpg") no-repeat;
  background-size: cover;
  background-position: 100% 100%;
  height: 900px;
}


.section-7-panorama {
  margin-top: 50px;
  background: url("../img/PIC-Panorama.png") no-repeat;
  background-size: contain;
  margin-bottom: 20px;
  width: 1200px;
  height: 450px;
}


video#video-360 {
  position: absolute;
  z-index: 100;
  height: 330px;
  top: 85px;
  left: 395px;
  width: 440px;

  &:hover {
    cursor: pointer;
  }
}

.section-7-ipad {
  position: absolute;
  top: 62px;
  left: 350px;
  height: 375px;
}

/** SECTION 8 **/

section#section-8 > .container {
  background-color: #181818;
}

.section8-text {
  margin-bottom: 50px;
}

.section8-text > p {
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}



/** SECTION 9 **/

section#section-9 > .container {
  /* background properties */
  background: url("../img/BG-Section-9.jpg") no-repeat;
  background-size: cover;
  background-position: 100% 100%;
  height: 640px;
}

img.section-9-behindscene {
  width: 300px;
  margin-top: 50px;
}

img.section-9-sponsor {
  top: 50px;
  position: relative;

}

section#section-9 > .container:nth-of-type(2) {
  /* background properties */
  background: url("../img/BG-Section-9a.jpg") no-repeat;
  background-size: cover;
  background-position: 100% 100%;
  height: 250px;
}

.section-9-play {
  position: absolute;
  top: 90px;
  left: 150px;
}

.section-9-hentapp {
  position: relative;
  top: -35px;
  margin: 0 auto;
  cursor: pointer;
}
